@import './variable';

.message_subject_action_container {
  display: flex;
  align-items: center;

  .message_subject_date {
    margin-left: 1rem;
    font-size: 1rem;
    color: $color-body-font;
  }

  .btn {
    margin-left: 1rem;
  }
}

.message_view_text {
  font-family: inherit;
  font-size: 1rem;
}

.message_datatable_row_date {
  display: inline-flex;
  align-items: center;

  > .btn {
    margin-left: 0.3rem;
  }
}

.message_chip_input {
  box-shadow: none!important;
  border: 1px solid rgba(205, 207, 214, 0.25) !important;
  background-color: rgba(205, 207, 214, 0.1);

  .no-gutters{
    --bs-gutter-x: "1.rem";
  }

  .styles_chip__i-PT7 {
    font-size: 0.9rem;
  }

  input[name="chipInput"] {
    background-color: transparent;
  }
}
